<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title style="text-align: center;">
      Vos pense-bêtes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">Ajouter<ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let info of infos">
      <ion-item detail lines="full" routerLink="/detail/{{info.key}}">
        <ion-icon style="text-align: center;" name="document-text-outline" slot="start"></ion-icon>
        {{info.info_title}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(info.key)">Modifier</ion-item-option>
        <ion-item-option color="danger" (click)="delete(info.key)">Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>